{% extends 'main/base.html' %}

{% load static %}

{% block title %} Сборка ПК {% endblock %}

{% block stylecss %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}"> 
{% endblock %}



{% block body %}

    <!-- корпус -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/case.png' %}">
                <b class="name-component">Корпус</b>
            </div>
           
        </div>
    </div>

    <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'Корпуси' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошика
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

        <!-- Процесор -->
        <div class="main-title">
            <div class="components-image">
                <div class="title">
                    <img src="{% static 'svg/cpu.png' %}">
                    <b class="name-component">Процесор</b>
                </div>
               
            </div>
        </div>

            <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'Процесори' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошика
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

        <!-- Відеокарта -->
        <div class="main-title">
            <div class="components-image">
                <div class="title">
                    <img src="{% static 'svg/videocard.png' %}">
                    <b class="name-component">Відеокарта</b>
                </div>
                
            </div>
        </div>

            <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'Відеокарти' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошика
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
        <!-- Оперативна пам'ять -->
        <div class="main-title">
            <div class="components-image">
                <div class="title">
                    <img src="{% static 'svg/ram.png' %}">
                    <b class="name-component">Оперативна пам'ять</b>
                </div>
               
            </div>
        </div>

            <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'RAM' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошика
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

        <!-- Процесор -->
        <div class="main-title">
            <div class="components-image">
                <div class="title">
                    <img src="{% static 'svg/ssd.png' %}">
                    <b class="name-component">SSD накопичувач</b>
                </div>
            </div>
        </div> 

            <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'SSD' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошика
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

        <!-- Процесор -->
        <div class="main-title">
            <div class="components-image">
                <div class="title">
                    <img src="{% static 'svg/hdd.png' %}">
                    <b class="name-component">HDD накопичувач</b>
                </div>
               
            </div>
        </div>

            <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'HDD' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошика
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

        <!-- Процесор -->
        <div class="main-title">
            <div class="components-image">
                <div class="title">
                    <img src="{% static 'svg/motherboard.png' %}">
                    <b class="name-component">Материнська плата</b>
                </div>
                
            </div>
        </div> 

            <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'Материнські плати' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошика
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
        
        <!-- Відеокарта -->
        <div class="main-title">
            <div class="components-image">
                <div class="title">
                    <img src="{% static 'svg/fan.png' %}">
                    <b class="name-component">Кулер</b>
                </div>
            </div>
        </div>

            <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'Кулери' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошика
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
        <!-- Оперативна пам'ять -->
        <div class="main-title">
            <div class="components-image">
                <div class="title">
                    <img src="{% static 'svg/power.png' %}">
                    <b class="name-component">Блок живлення</b>
                </div>
            </div>
        </div>

            <!-- цикл для отображения корпуса -->
    {% for el in products %}
    {% if el.category_name.category_name == 'Блоки живлення' %}
        <div class="item">
            <!-- Изображение товара -->
            <div class="picture">
                <img src="{{MEDIA_URL}}{{el.product_img1.url}}">
            </div>

            <!-- Описание товара -->
            <div class="description">
                <div class="name">
                    {{ el.product_name }}
                </div>
                <div class="desc">
                    <small>{{ el.product_description }}</small>
                </div>
            </div>

            <!-- Цена и кнопка "Купить" -->
            <div class="tail">
                <b class="price">{{ el.product_price }} грн</b>
                <div class="btn btn-success">
                    <a href="{% url 'cart' el.id %}">
                        До кошик
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}


{% endblock %}

