{% extends 'main/base.html' %}

{% load static %}

{% block title %} Сборка ПК {% endblock %}

{% block stylecss %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}"> 
{% endblock %}



{% block body %}
<div class="container">

    <div class="filter">
        <h4>Фільтрування по ціні</h4>
        <div class="max btn btn-success">
            <a href="/catalog">За спаданням</a>
        </div>
        <div class="min btn btn-success">
            <a href="/catalog_max" class="hight">За зростанням</a>
        </div>
    </div>
    
    <!-- Корпус -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/case.png' %}">
                <b class="name-component">Корпус</b>
            </div>
           
        </div>
    </div>
    <!-- цикл для отображения корпуса -->
    {% for el in case_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>

        <!-- Описание товара -->
        <div class="description">
            <div class="name">
                {{ el.name }}
            </div>
            <div class="desc">
                <small>{{ el.description }}</small>
            </div>
        </div>

        <!-- Цена и кнопка "Купить" -->
        <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
        
    </div>
    {% endfor %}

    <!-- Материнская плата -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/motherboard.png' %}">
                <b class="name-component">Материнська плата </b>
            </div>
        </div>
    </div>
     <!-- цикл для отображения материнской платы -->
     {% for el in mainboard_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>
 
         <!-- Описание товара -->
        <div class="description">
            <div class="name">
                 {{ el.name }}
            </div>
            <div class="desc">
                 <small>{{ el.description }}</small>
            </div>
        </div>
 
         <!-- Цена и кнопка "Купить" -->
         <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
         
    </div>
    {% endfor %}   

    <!-- Видеокарта -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/videocard.png' %}">
                <b class="name-component">Відеокарта</b>
            </div>
        </div>
    </div>
     <!-- цикл для отображения видеокарты -->
     {% for el in videocard_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>
 
         <!-- Описание товара -->
        <div class="description">
            <div class="name">
                 {{ el.name }}
            </div>
            <div class="desc">
                 <small>{{ el.description }}</small>
            </div>
        </div>
 
         <!-- Цена и кнопка "Купить" -->
         <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
         
    </div>
    {% endfor %}   

    <!-- Процессор -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/cpu.png' %}">
                <b class="name-component">Процесор</b>
            </div>
        </div>
    </div>
     <!-- цикл для отображения видеокарты -->
     {% for el in cpu_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>
 
         <!-- Описание товара -->
        <div class="description">
            <div class="name">
                 {{ el.name }}
            </div>
            <div class="desc">
                 <small>{{ el.description }}</small>
            </div>
        </div>
 
         <!-- Цена и кнопка "Купить" -->
        <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
         
    </div>
    {% endfor %} 

    <!-- Оперативка -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/ram.png' %}">
                <b class="name-component">Оперативна пам'ять</b>
            </div>
        </div>
    </div>
     <!-- цикл для отображения видеокарты -->
     {% for el in ram_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>
 
         <!-- Описание товара -->
        <div class="description">
            <div class="name">
                 {{ el.name }}
            </div>
            <div class="desc">
                 <small>{{ el.description }}</small>
            </div>
        </div>
 
         <!-- Цена и кнопка "Купить" -->
        <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
         
    </div>
    {% endfor %} 

    <!-- hdd -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/hdd.png' %}">
                <b class="name-component">HDD накопичувач</b>
            </div>
        </div>
    </div>
     <!-- цикл для отображения видеокарты -->
     {% for el in hdd_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>
 
         <!-- Описание товара -->
        <div class="description">
            <div class="name">
                 {{ el.name }}
            </div>
            <div class="desc">
                 <small>{{ el.description }}</small>
            </div>
        </div>
 
         <!-- Цена и кнопка "Купить" -->
        <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
         
    </div>
    {% endfor %} 

    <!-- ssd -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/ssd.png' %}">
                <b class="name-component">SSD накопичувач</b>
            </div>
        </div>
    </div>
     <!-- цикл для отображения видеокарты -->
     {% for el in ssd_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>
 
         <!-- Описание товара -->
        <div class="description">
            <div class="name">
                 {{ el.name }}
            </div>
            <div class="desc">
                 <small>{{ el.description }}</small>
            </div>
        </div>
 
         <!-- Цена и кнопка "Купить" -->
        <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
         
    </div>
    {% endfor %} 

    <!-- куллер -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/fan.png' %}">
                <b class="name-component">Кулер</b>
            </div>
        </div>
    </div>
     <!-- цикл для отображения видеокарты -->
     {% for el in cooler_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>
 
         <!-- Описание товара -->
        <div class="description">
            <div class="name">
                 {{ el.name }}
            </div>
            <div class="desc">
                 <small>{{ el.description }}</small>
            </div>
        </div>
 
         <!-- Цена и кнопка "Купить" -->
        <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
         
    </div>
    {% endfor %} 

    <!-- блок питания -->
    <div class="main-title">
        <div class="components-image">
            <div class="title">
                <img src="{% static 'svg/power.png' %}">
                <b class="name-component">Блок живлення</b>
            </div>
        </div>
    </div>
     <!-- цикл для отображения видеокарты -->
     {% for el in powerSupplyUnit_min %}
    <div class="item">
        <!-- Изображение товара -->
        <div class="picture">
            <img src="{{MEDIA_URL}}{{el.img.url}}">
        </div>
 
         <!-- Описание товара -->
        <div class="description">
            <div class="name">
                 {{ el.name }}
            </div>
            <div class="desc">
                 <small>{{ el.description }}</small>
            </div>
        </div>
 
         <!-- Цена и кнопка "Купить" -->
        <div class="tail">
            <b class="price">{{ el.price }} грн</b>
            <div class="btn btn-success">
                <a href="{{ el.link }}">Придбати</a>
            </div>
        </div>
         
    </div>
    {% endfor %} 
</div>
{% endblock %}

