{% extends 'main/base.html' %}
{% load static %}

{% block body %} 
<div class="container" id="features">
	<div class="row">
		<div class="col-md-12">
			<div class="main_heading">
				<h1>Про конфігуратор</h1>
				<div  class="text-center"><span class="underline"></span></div>
			</div>
		</div><!-- End col-md-12 -->
	</div><!-- End row -->

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="features-div">
			   <i class="fa fa-mobile"></i>
			   <h4>Зручний дизай</h4>
			   <p>Справжні професіонали дизайну потрудилися для того, щоб конфігуратором було зручно користуватися</p>
			</div>
		</div><!-- End col-md-3-->
		<div class="col-md-3 col-sm-6">
			<div class="features-div">
			   <i class="fa fa-code"></i>
			   <h4>Простотий у користуванні</h4>
			   <p>Збірка комп'ютерів онлайн - під будь-які завдання за вигідними цінами. Розумний конструктор ПК.</p>
			</div>
		</div><!-- End col-md-3-->
		<div class="col-md-3 col-sm-6">
			<div class="features-div">
			   <i class="fa fa-life-ring"></i>
			   <h4>24/7 Допомога</h4>
			   <p>Якщо у вас виникають проблеми або запитання ви можете зв'язатися з службою підтримки</p>
			</div>			
		</div><!-- End col-md-3-->
		<div class="col-md-3 col-sm-6">
			<div class="features-div">
			   <i class="fa fa-pencil"></i>
			   <h4>Взаємодія з клієнтами</h4>
			   <p>Клієнти завжди можуть додати власні пропозиції щодо модернізації конфігуратора</p>
			</div>			
		</div><!-- End col-md-3-->
	</div><!-- End row -->
</div><!-- End Container -->

<div class="more-feature-div">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src=" {% static 'images/Macbook.png' %}">
			</div><!-- End col-md-6-->
			<div class="col-md-6">
				<div class="more-features-div">
					<div class="more-features-div-icon"><i class="fa fa-rocket"></i></div>
					<h3 class="more-features-div-heading">Адаптивність - наше все</h3>
					<div class="more-features-div-description">
	            		Метою адаптивного веб-дизайну є практичне відображення інформації та зручна навігація на всіх пристроях із доступом до інтернету 
						(від стаціонарних ПК до мобільних телефонів). <br><br>
						За технологією адаптивного веб-дизайну не потрібно створювати окремі версії веб-сайту. 
						Один сайт може працювати на всьому спектрі пристроїв.
	            	</div>
				</div>

			</div><!-- End col-md-6-->
		</div><!-- End row -->
	</div><!-- ENd container -->
</div>

<!-- End Feature -->


<!-- Services -->

<div class="container" id="Services">
	<div class="row">
		<div class="col-md-12">
			<div class="main_heading">
				<h1>Наші послуги</h1>
				<div  class="text-center"><span class="underline"></span></div>
			</div>
		</div><!-- End col-md-12 -->
	</div><!-- End row -->

	<div class="col-md-4 services-box-gray col-sm-6">
		<div class="services-box">
			<i class="fa fa-support"></i>
			<h4>Великий вибір</h4>
			<p>Зібрати ПК - ігровий, домашній, офісний, для роботи з графікою. Гнучка модифікація ПК.</p>
		</div>
	</div><!-- End col-md-4-->
	<div class="col-md-4 col-sm-6">
		<div class="services-box">
			<i class="fa fa-rocket"></i>
			<h4>Швидка збірка</h4>
			<p>Преміальні комп'ютери для професіоналів, ентузіастів і творців якісного цифрового контента.</p>
		</div>
	</div><!-- End col-md-4-->
	<div class="col-md-4 services-box-gray col-sm-6">
		<div class="services-box">
			<i class="fa fa-cogs"></i>
			<h4>Готові конфігурації</h4>
			<p>Топові ПК - найдосконаліше і дороге в світі залізо. Оптимізовано під дозвіл екрану 4K. </p>
		</div>
	</div><!-- End col-md-4-->


</div><!-- End container -->

<!-- End Services -->

<!-- Call to Action -->
<div class="call-action-bg" id="Call-to-Action">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main_heading">
					<h1>Чому саме ми?</h1>
					<div  class="text-center"><span class="underline"></span></div>
				</div>
			</div><!-- End col-md-12 -->
		</div><!-- End row -->

		<div class="col-md-12">
			<p>
				Ми гарантуємо нашим клієнтам: надійність та швидкість; допомога 24/7 та постійні акції; Великий вибір та
				доставка товара усіма можливими способами
			</p>
		</div><!-- End col-md-12-->

	</div><!-- End container -->	
</div>

<!-- End Call to Action -->

<!-- Price Table -->

<!-- End Price Table -->

<!-- About -->
<div class="container" id="About">
	<div class="row">
		<div class="col-md-12">
			<div class="main_heading">
				<h1>Про нас - як про одне ціле</h1>
				<div  class="text-center"><span class="underline"></span></div>
			</div>
		</div><!-- End col-md-12 -->
	</div><!-- End row -->
	
	
	<div class="row">
		<div class="col-md-4 about-us-box wow fadeInUp animated">
		    <div class="about-us-photo">
		    	<img src="{% static 'svg/teacher.png' %}" width="100px" height="100px">
		    </div>
		    <p>Наш високий рівень співпраці підтверджується офіційним статусом роботи.</p>
		</div>

		<div class="col-md-4 about-us-box wow fadeInUp animated">
		    <div class="about-us-photo">
		    	<img src="{% static 'svg/student.png' %}" width="100px" height="100px">
		    </div>
		    <p>У каталозі нашого конфігуратору представлені сотні конфігурацій під різні завдання і бюджети.</p>
		</div>

		<div class="col-md-4 about-us-box wow fadeInUp animated">
		    <div class="about-us-photo">
		    	<img src="{% static 'svg/college.png' %}" width="100px" height="100px">
		    </div>
		    <p>Ми врахуємо всі побажання по конфігурації, зовнішнім виглядом, способу оплати, часу збирання і доставки.</p>
		</div>
	</div><!-- End row -->

</div><!-- End container -->	
<!-- End About -->


<!-- Testimonial -->
<div class="call-action-color" id="Testimonial">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main_heading">
					<h1>Купуйте з задоволенням!</h1>
					<div  class="text-center"><span class="underline"></span></div>
				</div>
			</div><!-- End col-md-12 -->
		</div><!-- End row -->
	</div><!-- End container -->	
</div>



{% endblock %}